[Unit]
Description=Nyukan
After=network.target sound.target

[Service]
Type=simple
User=finyl
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=PULSE_RUNTIME_PATH=/run/user/1000/pulse
Environment=PULSE_SERVER=unix:/run/user/1000/pulse/native
WorkingDirectory=/home/finyl/nyukan
ExecStart=/bin/bash -c "pcsc_scan & ./main"
Restart=always

[Install]
WantedBy=multi-user.target
